<% content_for :head do %>
<link rel="alternate" type="application/rdf+xml" href="<%= show_it_formatted_path(:country_code=>@company.country_code, :number=>@company.company_number, :format => 'rdf') %>" />
<% end %>
<% @title= "#{@company.name} | #{@company.company_number} " %>
<div id="profile">
<br />
<h1><%= link_to @company.name, "http://opencorporates.com/companies/uk/#{@company.company_number}", :title=>"Information on #{@company.name} at OpenCorporates" %></h1>
<div class="panel">
  <p class="number">Company No. <%= @company.company_number %></p>
  <p style='font-size: 1.8em'>This Companies Open House service has closed.</p>
  <p style='font-size: 1.8em'>Visit <%= link_to "OpenCorporates", "http://opencorporates.com/", :title=>"OpenCorporates :: The Open Database Of The Corporate World" %> for information on <%= link_to @company.name, "http://opencorporates.com/companies/uk/#{@company.company_number}", :title=>"Information on #{@company.name} at OpenCorporates" %></p>

</div>
<br style="clear: both" />
</div>

